In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

# Read in the dataset
df = pd.read_csv('/kaggle/input/european-soccer-data/Full_Kaggle_Dataset.csv')

In [2]:
# Take a look at the shape and variables contained in the dataset
print(df.shape)
df.head()

(51402, 16)

,Round,Date,Time,Home_Team,Home_Score,Away_Score,Away_Team,Home_Score_AET,Away_Score_AET,Home_Penalties,Away_Penalties,Home_Points,Away_Points,season,Country,Competition
0,ROUND 1,31/08/2002,22:30,RACING SANTANDER,0.0,1.0,VALLADOLID,NaN,NaN,NaN,NaN,0.0,3.0,2002,spain,primera-division
1,ROUND 1,01/09/2002,21:00,RAYO VALLECANO,2.0,2.0,ALAVES,NaN,NaN,NaN,NaN,1.0,1.0,2002,spain,primera-division
2,ROUND 1,01/09/2002,21:00,REAL SOCIEDAD,4.0,2.0,ATHLETIC BILBAO,NaN,NaN,NaN,NaN,3.0,0.0,2002,spain,primera-division
3,ROUND 1,01/09/2002,22:00,MALLORCA,0.0,2.0,VALENCIA,NaN,NaN,NaN,NaN,0.0,3.0,2002,spain,primera-division
4,ROUND 1,01/09/2002,22:30,VILLARREAL,2.0,2.0,OSASUNA,NaN,NaN,NaN,NaN,1.0,1.0,2002,spain,primera-division

In [3]:
df['Competition'].unique()

array(['primera-division', 'premier-league', 'bundesliga', 'ligue-1',
       'serie-a', 'uefa-champions-league', 'uefa-europa-league', 'fa-cup'],
      dtype=object)

In [4]:
# Create a dataset to only look at matches played in England
df_eng = df[df['Country'] == 'england']
df_eng.head()

,Round,Date,Time,Home_Team,Home_Score,Away_Score,Away_Team,Home_Score_AET,Away_Score_AET,Home_Penalties,Away_Penalties,Home_Points,Away_Points,season,Country,Competition
7680,ROUND 1,17/08/2002,18:00,MANCHESTER UTD,1.0,0.0,WEST BROM,NaN,NaN,NaN,NaN,3.0,0.0,2002,england,premier-league
7681,ROUND 1,17/08/2002,18:00,LEEDS,3.0,0.0,MANCHESTER CITY,NaN,NaN,NaN,NaN,3.0,0.0,2002,england,premier-league
7682,ROUND 1,17/08/2002,18:00,SOUTHAMPTON,0.0,0.0,MIDDLESBROUGH,NaN,NaN,NaN,NaN,1.0,1.0,2002,england,premier-league
7683,ROUND 1,17/08/2002,18:00,FULHAM,4.0,1.0,BOLTON,NaN,NaN,NaN,NaN,3.0,0.0,2002,england,premier-league
7684,ROUND 1,17/08/2002,18:00,EVERTON,2.0,2.0,TOTTENHAM,NaN,NaN,NaN,NaN,1.0,1.0,2002,england,premier-league

In [5]:
df_eng['Competition'].unique()

array(['premier-league', 'fa-cup'], dtype=object)

In [6]:
# To retrieve a list of English teams present in the dataset, we should only need to pull unique values out of one of the Home_Team and Away_Team Series
eng_teams = df_eng['Home_Team'].unique()
print(eng_teams[:5])

['MANCHESTER UTD' 'LEEDS' 'SOUTHAMPTON' 'FULHAM' 'EVERTON']

In [7]:
df_eng.dtypes

Round              object
Date               object
Time               object
Home_Team          object
Home_Score        float64
Away_Score        float64
Away_Team          object
Home_Score_AET    float64
Away_Score_AET    float64
Home_Penalties    float64
Away_Penalties    float64
Home_Points       float64
Away_Points       float64
season              int64
Country            object
Competition        object
dtype: object

In [8]:
df_eng.convert_dtypes().dtypes

Round             string
Date              string
Time              string
Home_Team         string
Home_Score         Int64
Away_Score         Int64
Away_Team         string
Home_Score_AET     Int64
Away_Score_AET     Int64
Home_Penalties     Int64
Away_Penalties     Int64
Home_Points        Int64
Away_Points        Int64
season             Int64
Country           string
Competition       string
dtype: object